
<div class="container">
	<h1> M3 Rotations </h1>
	<div>
		<div class="list-group">
			<% @rotations.each do |rotation| %>
			<%= link_to(rotation.name, rotation_path(rotation), :class => "list-group-item")%>
			<%end%>
		<ul>
	</div>
	<% if current_user_admin? %>
		<%= link_to('Add Rotation', new_rotation_path) %>
	<% end %>
</div>