<div class = 'container'>
  <div class = "col-md-4">
     <%= link_to("< Back to #{@rotation.name} Comments", rotation_comments_path(@rotation), :class => 'btn btn-primary btn-large', :id => 'vertical')%> 
      </p>
  </div>
  <div class = "col-md-4">
    <h1> Add Comment for <%= link_to(@rotation.name, @rotation)%> </h1>
  </div>
  <div class = "col-md-4">

  </div>
</div>

      <%= render "shared/errors", object: @comment %>

      <%= render "shared/commentform", object1: @rotation, object2: @comment %>

  </div>
</div>


