<!DOCTYPE html>
<html>
<head>
  <title>Rotationsrx</title>
<%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 

<link type="text/css" rel="stylesheet" href="../../css/RotationsRx_attending_template.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
</script>

</head>
<body>
		<div class = "header">
			<div class="jumbotron">
				<div class ="container">
				  RotationsRx
				  <p><a class="btn btn-primary btn-lg" href="/rotations" role="button">+ Get Started</a></p>
				</div>
			</div>
		</div>
	<div class = "bottom">

		<div class = "col-md-12">

			STUDENT TO STUDENT ROTATION ADVICE
		</div>
	</div>

</body>

</html>