<% if object.errors.any? %>
<div class = "alert alert-danger" role = "alert"><section id="errors">
  <header>
    <h2>
      Oops! Could not be saved. 
    </h2>
    <h3>
      Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </ul>
</section></div>
<% end %>